* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		} 
		body {
			font-family: sans-serif;
			max-width: 1200px;
			margin: auto;
		}
		h1 {
			text-align: center;
			padding: 50px 0 10px 0;
		}
		p {
			text-align: center;
			padding-bottom: 20px;
		}
		p a {
			text-decoration: none;
			padding: 0 30px;
		}
		.some-text {
			padding: 30px;
			max-width: 960px;
			margin: auto;
			
		}
		.some-text p {
			line-height: 25px;
			text-align: left;
		}


		/* ---- isotope ---- */
		
		.isotope-filters {
			display: table;
			margin: 20px  auto;
		}
		.isotope-filters  button {
			border:none;
			margin: 2px; 
			line-height: 30px;
			padding: 0 20px;
			cursor: pointer;
		}
		.isotope-filters  button:focus {
			outline: none;
			outline-style: none;
			outline-offset:0; 
		}
		.isotope-filters  button.active {
			background: #0D8;
		}

		.isotope {
			background: #DDD;
			max-width: 1200px;
		}

		/* clear fix */
		.isotope:after {
			content: '';
			display: block;
			clear: both;
		}

		/* ---- .item ---- */

		.item {
			float: left;
			width: 200px;
			height: 200px;
			background: #0D8;
			border: 2px solid #333;
			border-color: hsla(0, 0%, 0%, 0.7);
		}

		.item.width2 { width: 400px; }
		.item.height2 { height: 400px; }